<div>

    <a href="https://github.com/jiemakel/aether"><img style="position: absolute; top: 0; right: 0; border: 0" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <div class="jumbotron">
        <h1>Aether VoID Statistics Tool</h1>
        <p>Aether is a tool for viewing and generating statistical information about RDF datasets in the form of <a href="http://www.w3.org/TR/void/">VoID descriptions</a>.</p>

        <p>Given a SPARQL endpoint, the tool can <a ui-sref="generate-menu">generate</a> an extended VoID description containing a wide variety of statistical spreads describing the dataset.</p>

        <p>These can then be <a ui-sref="view">viewed</a> in order to get a general overview of the dataset.</p>

        <p>The viewer can also compare dataset descriptions to each other, so that for example changes in a dataset can be glanced.</p>

        <p>Alternatively, the <a ui-sref="view">viewer</a> can also be used in live mode, where it directly queries a SPARQL endpoint for the statistics it shows.</p>

    </div>

    <div class="text-right">Contact: Eetu Mäkelä at <a href="mailto:eetu.makela@aalto.fi">eetu.makela@aalto.fi</a></div>
</div>