<div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="" ng-click="scrollTo('top')">Aether VoID Statistics Viewer</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Go to <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="scrollTo('general')">General Information</a></li>
                <li><a href="" ng-click="scrollTo('namespace')">Namespace Information</a></li>
                <li><a href="" ng-click="scrollTo('property')">Property Information</a></li>
                <li><a href="" ng-click="scrollTo('resourceObject')">Resource Object Information</a></li>
                <li><a href="" ng-click="scrollTo('literalObject')">Literal Object Information</a></li>
                <li><a href="" ng-click="scrollTo('subject')">Subject Information</a></li>
            </ul>
        </li>

    </ul>
    <form class="navbar-form navbar-right" role="search">
       <span ng-show="queries>0" class="label label-warning" style="margin-right:10px"><span class="glyphicon glyphicon-refresh fa-spin"></span> {{queries}} queries running..</span>
       <div class="form-group">
           <label class="control-label">Limit to:</label>
           <select style="max-width:400px" ng-model="limit" class="form-control limitSelector" ng-options="limit.limitName group by limit.limitStat for limit in limits"><option value="">all triples</option></select>
       </div>
    </form>
</div>

</nav>
<div class="text-right">(<a ui-sref="index">back to main</a>)</div>
  <h1><a id="top" class="displaced-anchor"></a>Aether VoID Statistics Viewer</h1>

<div class="col-sm-6">

    <h3>View statistics for:</h3>

    <div class="form-group" ng-class="{ 'has-error': !sparqlEndpointInputValid && sparqlEndpointInputHasFocus, 'has-success': sparqlEndpointInputValid && sparqlEndpointInputHasFocus }">
        <label class="control-label">SPARQL Endpoint:</label>
        <input type="text" ng-model="sparqlEndpointInput" class="form-control" ng-blur="sparqlEndpoint = sparqlEndpointInputValid ? sparqlEndpointInput : sparqlEndpoint ; sparqlEndpointInputHasFocus = !sparqlEndpointInputValid" ng-focus="sparqlEndpointInputHasFocus = true">
    </div>

    <div class="form-group">
        <label class="control-label">Graph:</label>
        <div ng-class="graphIRIFetching && 'input-group'">
            <select ng-model="graphIRI" ng-readonly="graphIRIFetching" class="form-control" ng-options="graph.graphIRI.value as (graph.graphIRI.value || 'default') + ' (' + ((graph.datasets.value>0 && (graph.datasets.value | number)+' VoID descriptions, ') || '') + (graph.triples.value | number) + ' triples)' for graph in graphs">
            </select>
            <span ng-show="graphIRIFetching" class="input-group-addon"><i class="glyphicon glyphicon-refresh fa-spin"></i></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Dataset:</label>
        <div ng-class="datasetIRIFetching && 'input-group'">
            <select ng-model="datasetIRI" ng-readonly="datasetIRIFetching" class="form-control" ng-options="dataset.datasetIRI.value as dataset.datasetIRI.value for dataset in datasets">
                <option value="">endpoint itself</option>
            </select>
            <span ng-show="datasetIRIFetching" class="input-group-addon"><i class="glyphicon glyphicon-refresh fa-spin"></i></span>
        </div>
    </div>
</div>

<div class="col-sm-6">

    <h3>Compare against:</h3>

    <div class="form-group" ng-class="{ 'has-error': !compar_sparqlEndpointInputValid && compar_sparqlEndpointInputHasFocus, 'has-success': compare_sparqlEndpointInputValid && compare_sparqlEndpointInputHasFocus }">
        <label class="control-label">SPARQL Endpoint:</label>
        <input type="text" ng-model="compare_sparqlEndpointInput" class="form-control" ng-blur="compare_sparqlEndpoint = compare_sparqlEndpointInputValid ? compare_sparqlEndpointInput : compare_sparqlEndpoint ; compare_sparqlEndpointInputHasFocus = !compare_sparqlEndpointInputValid" ng-focus="compare_sparqlEndpointInputHasFocus = true">
    </div>

    <div class="form-group">
        <label class="control-label">Graph:</label>
        <div ng-class="compare_graphIRIFetching && 'input-group'">
            <select ng-model="compare_graphIRI" ng-readonly="compare_graphIRIFetching" class="form-control" ng-options="compare_graph.graphIRI.value as (compare_graph.graphIRI.value || 'default') + ' (' + ((compare_graph.datasets.value>0 && (compare_graph.datasets.value | number)+' VoID descriptions, ') || '') + (compare_graph.triples.value | number) + ' triples)' for compare_graph in compare_graphs">
            </select>
            <span ng-show="compare_graphIRIFetching" class="input-group-addon"><i class="glyphicon glyphicon-refresh fa-spin"></i></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Dataset:</label>
        <div ng-class="compare_datasetIRIFetching && 'input-group'">
            <select ng-model="compare_datasetIRI" ng-readonly="compare_datasetIRIFetching" class="form-control" ng-options="compare_dataset.datasetIRI.value as compare_dataset.datasetIRI.value for compare_dataset in compare_datasets">
                <option value="">endpoint itself</option>
            </select>
            <span ng-show="compare_datasetIRIFetching" class="input-group-addon"><i class="glyphicon glyphicon-refresh fa-spin"></i></span>
        </div>
    </div>
</div>

<div class="text-center" style="position:relative;top:-120px;height:1em"><a href="" class="glyphicon glyphicon-transfer" ng-click="switchCompare()"></a></div>

<div class="clearfix"></div>
<div ng-repeat="error in errors" class="alert alert-block alert-danger">
    {{error.errorSource}} returned error {{error.errorStatus}}:<br>
    {{error.error}}
    <br>for query:<br>
    {{error.query}}
</div>

<div class="page-header">
  <h2><a id="general" class="displaced-anchor"></a>General Statistics</h2>
</div>

  <div class="col-sm-4">
  <a id="general-general" class="displaced-anchor"></a>
  <table class="table table-hover table-condensed">
    <caption>General Statistics</caption>
    <colgroup><col class="col-sm-3"><col class="col-sm-2"></colgroup>
    <tr>
        <th class="text-right">Triples:</th>
        <td class="text-right">
            {{ (results.triples | number) || "?" }}
            <span tooltip-placement="right" tooltip="{{results.triples>compare_results.triples ? '+': ''}}{{results.triples-compare_results.triples | number}} ({{Math.abs(results.triples-compare_results.triples)*100/compare_results.triples | number:2}}%)" ng-class="{ 'text-success' : results.triples>compare_results.triples, 'glyphicon-chevron-up': results.triples>compare_results.triples, 'text-danger': results.triples<compare_results.triples,'glyphicon-chevron-down':results.triples<compare_results.triples}" class="glyphicon"></span>
        </td>
    </tr>
    <tr><th class="text-right">RDF Nodes:</th>
    	<td class="text-right">
            {{ (results.distinctRDFNodes | number) || "?" }}
            <span tooltip-placement="right" tooltip="{{results.distinctRDFNodes>compare_results.distinctRDFNodes ? '+': ''}}{{results.distinctRDFNodes-compare_results.distinctRDFNodes | number}} ({{Math.abs(results.distinctRDFNodes-compare_results.distinctRDFNodes)*100/compare_results.distinctRDFNodes | number:2}}%)" ng-class="{ 'text-success' : results.distinctRDFNodes>compare_results.distinctRDFNodes, 'glyphicon-chevron-up': results.distinctRDFNodes>compare_results.distinctRDFNodes, 'text-danger': results.distinctRDFNodes<compare_results.distinctRDFNodes,'glyphicon-chevron-down':results.distinctRDFNodes<compare_results.distinctRDFNodes}" class="glyphicon"></span>
        </td>
    	</tr>
  </table>
  </div>

  <div class="col-sm-4">
  <a id="triple-parts" class="displaced-anchor"></a>
  <table class="table table-hover table-condensed">
    <caption>Distinct Triple Parts</caption>
    <colgroup><col class="col-sm-3"><col class="col-sm-2"></colgroup>
    <tr>
        <th class="text-right">Subjects:</th>
        <td class="text-right">
            <a href="" tooltip-placement="right" tooltip="{{ (results.triples / results.distinctSubjects) | number:2 }} triples/subject. {{ ((results.distinctSubjects)*100/(results.distinctBlankNodes+results.distinctIRIReferences)) | number:2 }}% of resources appear as subjects.">{{ (results.distinctSubjects | number) || "?" }}</a>
            <span tooltip-placement="right" tooltip="{{results.distinctSubjects>compare_results.distinctSubjects ? '+': ''}}{{results.distinctSubjects-compare_results.distinctSubjects | number}} ({{Math.abs(results.distinctSubjects-compare_results.distinctSubjects)*100/compare_results.distinctSubjects | number:2}}%)" ng-class="{ 'text-success' : results.distinctSubjects>compare_results.distinctSubjects, 'glyphicon-chevron-up': results.distinctSubjects>compare_results.distinctSubjects, 'text-danger': results.distinctSubjects<compare_results.distinctSubjects,'glyphicon-chevron-down':results.distinctSubjects<compare_results.distinctSubjects}" class="glyphicon"></span>
        </td>
    </tr>
    <tr>
        <th class="text-right">Properties:</th>
        <td class="text-right">
            <a href="" tooltip-placement="right" tooltip="{{ (results.triples / results.properties) | number:2 }} triples/property">{{ (results.properties | number) || "?" }}</a>
            <span tooltip-placement="right" tooltip="{{results.properties>compare_results.properties ? '+': ''}}{{results.properties-compare_results.properties | number}} ({{Math.abs(results.properties-compare_results.properties)*100/compare_results.properties | number:2}}%)" ng-class="{ 'text-success' : results.properties>compare_results.properties, 'glyphicon-chevron-up': results.properties>compare_results.properties, 'text-danger': results.properties<compare_results.properties,'glyphicon-chevron-down':results.properties<compare_results.properties}" class="glyphicon"></span>
        </td>
    </tr>
   	<tr>
        <th class="text-right">Objects:</th>
        <td class="text-right">
            <a href="" tooltip-placement="right" tooltip="{{ (results.triples / results.distinctObjects) | number:2 }} triples/object. {{ ((results.distinctObjects)*100/(results.distinctRDFNodes)) | number:2 }}% of RDF nodes appear as objects.">{{ (results.distinctObjects | number) || "?" }}</a>
            <span tooltip-placement="right" tooltip="{{results.distinctObjects>compare_results.distinctObjects ? '+': ''}}{{results.distinctObjects-compare_results.distinctObjects | number}} ({{Math.abs(results.distinctObjects-compare_results.distinctObjects)*100/compare_results.distinctObjects | number:2}}%)" ng-class="{ 'text-success' : results.distinctObjects>compare_results.distinctObjects, 'glyphicon-chevron-up': results.distinctObjects>compare_results.distinctObjects, 'text-danger': results.distinctObjects<compare_results.distinctObjects,'glyphicon-chevron-down':results.distinctObjects<compare_results.distinctObjects}" class="glyphicon"></span>
        </td>
    </tr>
  </table>
  </div>

    <div class="col-sm-4">
    <a id="classes" class="displaced-anchor"></a>
        <table class="table table-hover table-condensed">
            <caption>Classes</caption>
            <colgroup><col class="col-sm-3"><col class="col-sm-2"></colgroup>
            <tr>
                <th class="text-right">Subject Classes:</th>
                <td class="text-right">
                    {{ (results.subjectClasses | number) || "?" }}
                    <span tooltip-placement="right" tooltip="{{results.subjectClasses>compare_results.subjectClasses ? '+': ''}}{{results.subjectClasses-compare_results.subjectClasses | number}} ({{Math.abs(results.subjectClasses-compare_results.subjectClasses)*100/compare_results.subjectClasses | number:2}}%)" ng-class="{ 'text-success' : results.subjectClasses>compare_results.subjectClasses, 'glyphicon-chevron-up': results.subjectClasses>compare_results.subjectClasses, 'text-danger': results.subjectClasses<compare_results.subjectClasses,'glyphicon-chevron-down':results.subjectClasses<compare_results.subjectClasses}" class="glyphicon"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right">Property Classes:</th>
                <td class="text-right">
                    {{ (results.propertyClasses | number) || "?" }}
                    <span tooltip-placement="right" tooltip="{{results.propertyClasses>compare_results.propertyClasses ? '+': ''}}{{results.propertyClasses-compare_results.propertyClasses | number}} ({{Math.abs(results.propertyClasses-compare_results.propertyClasses)*100/compare_results.propertyClasses | number:2}}%)" ng-class="{ 'text-success' : results.propertyClasses>compare_results.propertyClasses, 'glyphicon-chevron-up': results.propertyClasses>compare_results.propertyClasses, 'text-danger': results.propertyClasses<compare_results.propertyClasses,'glyphicon-chevron-down':results.propertyClasses<compare_results.propertyClasses}" class="glyphicon"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right">Object Classes:</th>
                <td class="text-right">
                    {{ (results.objectClasses | number) || "?" }}
                    <span tooltip-placement="right" tooltip="{{results.objectClasses>compare_results.objectClasses ? '+': ''}}{{results.objectClasses-compare_results.objectClasses | number}} ({{Math.abs(results.objectClasses-compare_results.objectClasses)*100/compare_results.objectClasses | number:2}}%)" ng-class="{ 'text-success' : results.objectClasses>compare_results.objectClasses, 'glyphicon-chevron-up': results.objectClasses>compare_results.objectClasses, 'text-danger': results.objectClasses<compare_results.objectClasses,'glyphicon-chevron-down':results.objectClasses<compare_results.objectClasses}" class="glyphicon"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right">Combined Classes:</th>
                <td class="text-right">
                    {{ (results.classes | number) || "?" }}
                    <span tooltip-placement="right" tooltip="{{results.classes>compare_results.classes ? '+': ''}}{{results.classes-compare_results.classes | number}} ({{Math.abs(results.classes-compare_results.classes)*100/compare_results.classes | number:2}}%)" ng-class="{ 'text-success' : results.classes>compare_results.classes, 'glyphicon-chevron-up': results.classes>compare_results.classes, 'text-danger': results.classes<compare_results.classes,'glyphicon-chevron-down':results.classes<compare_results.classes}" class="glyphicon"></span>
                </td>
            </tr>
        </table>
    </div>

    <div class="clearfix"></div>


<div class="col-sm-4">
    <a id="subject-node-types" class="displaced-anchor"></a>
    <h4>Subject RDF Node Types</h4>
    <nvd3-pie-chart data="subjectRDFNodes" id="subjectRDFNodes" margin="{left:0,top:0,bottom:0,right:0}" showlegend="true" tooltips="true" showlabels="true" pielabelsoutside="false" showvalues="true" tooltipcontent="subjectRDFNodeTooltipContent" valueformat="yTickFormat" labeltype="percent">
        <svg style="height:120px"></svg>
    </nvd3-pie-chart>
</div>

<div class="col-sm-4">
    <a id="object-node-types" class="displaced-anchor"></a>

    <h4>Object RDF Node Types</h4>
    <nvd3-pie-chart data="objectRDFNodes" id="objectRDFNodes" margin="{left:0,top:0,bottom:0,right:0}" showlegend="true" tooltips="true" showlabels="true" pielabelsoutside="false" showvalues="true" tooltipcontent="objectRDFNodeTooltipContent" valueformat="yTickFormat" labeltype="percent">
        <svg style="height:120px"></svg>
    </nvd3-pie-chart>
</div>

<div class="col-sm-4">
    <a id="node-types" class="displaced-anchor"></a>

    <h4>Combined RDF Node Types</h4>
    <nvd3-pie-chart data="allRDFNodes" id="allRDFNodes" margin="{left:0,top:0,bottom:0,right:0}" showlegend="true" tooltips="true" showlabels="true" pielabelsoutside="false" showvalues="true" tooltipcontent="rdfNodeTooltipContent" valueformat="yTickFormat" labeltype="percent">
        <svg style="height:120px"></svg>
    </nvd3-pie-chart>
</div>

  <div class="col-sm-4" ng-show="iriLengthInfos>0">
    <a id="iri-lengths" class="displaced-anchor"></a>

    <h4>IRI Lengths</h4>
    <div ng-class="{ 'col-sm-4' : iriLengthInfos==3, 'col-sm-6' : iriLengthInfos==2, 'col-sm-12' : iriLengthInfos==1 }" ng-show="iriLengthInfo1">
    <nvd3-discrete-bar-chart data="iriLengthInfo1" id="iriLengthInfo1" showxaxis="false" showyaxis="false" showlegend="false" showcontrols="false" margin="{left:0,top:0,bottom:0,right:0}" clipedge="true" interactive="true" yaxistickformat="yTickFormat" tooltipcontent="tooltipContent" tooltips="true">
          <svg style="height:110px"></svg>
      </nvd3-discrete-bar-chart>
      <div class="text-center"><small>0-9</small></div>
      </div>
      <div ng-class="{ 'col-sm-4' : iriLengthInfos==3, 'col-sm-6' : iriLengthInfos==2, 'col-sm-12' : iriLengthInfos==1 }" ng-show="iriLengthInfo2">
    <nvd3-discrete-bar-chart data="iriLengthInfo2" id="iriLengthInfo2" showxaxis="false" showyaxis="false" showlegend="false" showcontrols="false" margin="{left:0,top:0,bottom:0,right:0}" clipedge="true" interactive="true" yaxistickformat="yTickFormat" tooltipcontent="tooltipContent" tooltips="true">
          <svg style="height:110px"></svg>
      </nvd3-discrete-bar-chart>
      <div class="text-center"><small>0-100 by 10</small></div>
      </div>
      <div ng-class="{ 'col-sm-4' : iriLengthInfos==3, 'col-sm-6' : iriLengthInfos==2, 'col-sm-12' : iriLengthInfos==1 }" ng-show="iriLengthInfo3">
    <nvd3-discrete-bar-chart data="iriLengthInfo3" id="iriLengthInfo3" showxaxis="false" showyaxis="false" showlegend="false" showcontrols="false" margin="{left:0,top:0,bottom:0,right:0}" clipedge="true" interactive="true" yaxistickformat="yTickFormat" tooltipcontent="tooltipContent" tooltips="true">
          <svg style="height:110px"></svg>
      </nvd3-discrete-bar-chart>
      <div class="text-center"><small>0- by 100</small></div>
</div>
      <div class="clearfix"></div>
      <div>Average IRI length: {{(results.averageIRILength | number:3) || "?" }}</div>
</div>

<div class="col-sm-4" ng-show="literalLengthInfos>0">
    <a id="literal-lengths" class="displaced-anchor"></a>
    <h4>Literal Lengths</h4>
    <div ng-class="{ 'col-sm-4' : literalLengthInfos==3, 'col-sm-6' : literalLengthInfos==2, 'col-sm-12' : literalLengthInfos==1 }" ng-show="literalLengthInfo1">
    <nvd3-discrete-bar-chart data="literalLengthInfo1" id="literalLengthInfo1" showxaxis="false" showyaxis="false" showlegend="false" showcontrols="false" margin="{left:0,top:0,bottom:0,right:0}" clipedge="true" interactive="true" yaxistickformat="yTickFormat" tooltipcontent="tooltipContent" tooltips="true">
          <svg style="height:110px"></svg>
      </nvd3-discrete-bar-chart>
      <div class="text-center"><small>0-9</small></div>
      </div>
      <div ng-class="{ 'col-sm-4' : literalLengthInfos==3, 'col-sm-6' : literalLengthInfos==2, 'col-sm-12' : literalLengthInfos==1 }" ng-show="literalLengthInfo2">
    <nvd3-discrete-bar-chart data="literalLengthInfo2" id="literalLengthInfo2" showxaxis="false" showyaxis="false" showlegend="false" showcontrols="false" margin="{left:0,top:0,bottom:0,right:0}" clipedge="true" interactive="true" yaxistickformat="yTickFormat" tooltipcontent="tooltipContent" tooltips="true">
          <svg style="height:110px"></svg>
      </nvd3-discrete-bar-chart>
      <div class="text-center"><small>0-100 by 10</small></div>
      </div>
      <div ng-class="{ 'col-sm-4' : literalLengthInfos==3, 'col-sm-6' : literalLengthInfos==2, 'col-sm-12' : literalLengthInfos==1 }" ng-show="literalLengthInfo3">
    <nvd3-discrete-bar-chart data="literalLengthInfo3" id="literalLengthInfo3" showxaxis="false" showyaxis="false" showlegend="false" showcontrols="false" margin="{left:0,top:0,bottom:0,right:0}" clipedge="true" interactive="true" yaxistickformat="yTickFormat" tooltipcontent="tooltipContent" tooltips="true">
          <svg style="height:110px"></svg>
      </nvd3-discrete-bar-chart>
      <div class="text-center"><small>0- by 100</small></div>
      </div>
      <div class="clearfix"></div>
      <div>Average Literal length: {{(results.averageLiteralLength | number:3) || "?" }}</div>
</div>

<div class="col-sm-4">
  <a id="literal-components" class="displaced-anchor"></a>
  <table class="table table-hover table-condensed">
    <caption>Literal Components</caption>
    <colgroup><col class="col-sm-3"><col class="col-sm-2"></colgroup>
    <tr>
        <th class="text-right">Datatypes:</th>
        <td class="text-right">
            {{ (results.datatypes | number) || "?" }}
            <span tooltip-placement="right" tooltip="{{results.datatypes>compare_results.datatypes ? '+': ''}}{{results.datatypes-compare_results.datatypes | number}} ({{Math.abs(results.datatypes-compare_results.datatypes)*100/compare_results.datatypes | number:2}}%)" ng-class="{ 'text-success' : results.datatypes>compare_results.datatypes, 'glyphicon-chevron-up': results.datatypes>compare_results.datatypes, 'text-danger': results.datatypes<compare_results.datatypes,'glyphicon-chevron-down':results.datatypes<compare_results.datatypes}" class="glyphicon"></span>
        </td>
    </tr>
    <tr>
        <th class="text-right">Languages:</th>
        <td class="text-right">
            {{ (results.languages | number) || "?" }}
            <span tooltip-placement="right" tooltip="{{results.languages>compare_results.languages ? '+': ''}}{{results.languages-compare_results.languages | number}} ({{Math.abs(results.languages-compare_results.languages)*100/compare_results.languages | number:2}}%)" ng-class="{ 'text-success' : results.languages>compare_results.languages, 'glyphicon-chevron-up': results.languages>compare_results.languages, 'text-danger': results.languages<compare_results.languages,'glyphicon-chevron-down':results.languages<compare_results.languages}" class="glyphicon"></span>
        </td>
    </tr>
  </table>
</div>

<div class="clearfix"></div>

  <div class="page-header">
      <h2><a id="namespace" class="displaced-anchor"></a>Namespace Information</h2>
  </div>

  <div ng-repeat="(prefix,ns) in seenNs">
  <div class="col-sm-4"><small><em>{{prefix}}</em>: {{ns}}</small></div>
  </div>

<div class="clearfix"></div>


  <div class="page-header">
  <h2><a id="property" class="displaced-anchor"></a>Property Information</h2>
  </div>

  <div class="col-sm-6">
    <a id="property-classes" class="displaced-anchor"></a>
      <h4>Property Classes</h4>
      <nvd3-discrete-bar-chart data="propertyTypeInfo" id="propertyTypeInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:80,top:20,bottom:120,right:0}" clipedge="false" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true">
          <svg style="height:220px"></svg>
      </nvd3-discrete-bar-chart>
      <div>Items shown account for {{ propertyTypeInfoTotalProperties/results.properties*100 | number:2 }}% of total properties (not taking multiple classes into account)</div>
  </div>
  <div class="col-sm-6">
    <a id="property-namespaces" class="displaced-anchor"></a>
      <h4>Property Namespaces</h4>
      <nvd3-discrete-bar-chart data="propertyNamespaceInfo" id="propertyNamespaceInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:80,top:20,bottom:120,right:0}" clipedge="true" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true">
          <svg style="height:220px"></svg>
      </nvd3-discrete-bar-chart>
      <div>Namespaces shown account for {{ propertyNamespaceInfoTotalProperties/results.properties*100 | number:2 }}% of total properties</div>
  </div>
  <div class="clearfix"></div>
  
  <h4><a id="properties" class="displaced-anchor"></a>Most Used Properties</h4>
  <nvd3-multi-bar-chart data="propertyInfo" id="propertyInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="true" showcontrols="false" margin="{left:100,top:0,bottom:120,right:0}" stacked="true" yaxistickformat="yTickFormat" interactive="true" tooltips="true" tooltipcontent="propertyTooltipContent">
    <svg style="height:500px"></svg>
  </nvd3-multi-bar-chart>
  
  <div>Properties shown account for {{ propertyInfoTotalTriples/results.triples*100 | number:2 }}% of total triples</div>

  <div ng-show="resourceObjectInfoTotalTriples>0" class="animate-show">
  <div class="page-header">
  <h2><a id="resourceObject" class="displaced-anchor"></a>Resource Object Information</h2>
  </div>

      <div class="col-sm-6">
          <a id="resource-object-classes" class="displaced-anchor"></a>
          <h4>Object Resource Classes</h4>
          <nvd3-discrete-bar-chart data="objectTypeInfo" id="objectTypeInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:80,top:20,bottom:120,right:0}" clipedge="true" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true" ng-show="objectTypeInfo[0].values.length">
              <svg style="height:220px"></svg>
          </nvd3-discrete-bar-chart>
          <div>Items shown account for {{ objectTypeInfoTotalObjects/(results.distinctIRIReferenceObjects+results.distinctBlankNodeObjects)*100 | number:2 }}% of total resource objects (not taking multiple classes into account)</div>
      </div>
      <div class="col-sm-6" ng-show="objectNamespaceInfo[0].values.length>0">
          <a id="resource-object-namespaces" class="displaced-anchor"></a>
          <h4>Object IRI Reference Namespaces</h4>
          <nvd3-discrete-bar-chart data="objectNamespaceInfo" id="objectNamespaceInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:80,top:20,bottom:120,right:0}" clipedge="true" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true">
              <svg style="height:220px"></svg>
          </nvd3-discrete-bar-chart>
          <div>Namespaces shown account for {{ objectNamespaceInfoTotalObjects/results.distinctIRIReferenceObjects*100 | number:2 }}% of total object IRI References</div>
      </div>
      <div class="clearfix"></div>
      <h4><a id="resource-objects" class="displaced-anchor"></a>Most Referenced Resource Objects</h4>


      <nvd3-discrete-bar-chart data="resourceObjectInfo" id="resourceObjectInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:100,top:20,bottom:120,right:0}" clipedge="true" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true">
        <svg style="height:250px"></svg>
      </nvd3-discrete-bar-chart>
  
  <div>Resources shown account for {{ resourceObjectInfoTotalTriples/results.triples*100 | number:2 }}% of total triples</div>

  </div>

  <div ng-show="literalObjectInfoTotalTriples>0" class="animate-show">
      <div class="page-header">
          <h2><a id="literalObject" class="displaced-anchor"></a>Literal Object Information</h2>
      </div>

      <div class="col-sm-6" ng-show="datatypeInfo[0].values.length>0">
          <a id="literal-object-datatypes" class="displaced-anchor"></a>
          <h4>Object Literal Datatypes</h4>
          <nvd3-discrete-bar-chart data="datatypeInfo" id="datatypeInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:80,top:20,bottom:120,right:0}" clipedge="true" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true">
              <svg style="height:220px"></svg>
              </nvd3-discrete-bar-chart>
              <div>Datatypes shown account for {{ datatypeInfoTotalLiterals/results.distinctLiterals*100 | number:2 }}% of total literals</div>
          
      </div>
      <div class="col-sm-6" ng-show="languageInfo[0].values.length>0">
          <a id="literal-object-languages" class="displaced-anchor"></a>
          <h4>Object Literal Languages</h4>
          <nvd3-discrete-bar-chart data="languageInfo" id="languageInfo" showxaxis="true" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:80,top:20,bottom:40,right:0}" clipedge="true" yaxistickformat="yTickFormat" xaxisrotatelabels="45" interactive="true" tooltipcontent="tooltipContent" tooltips="true">
              <svg style="height:120px"></svg>
          </nvd3-discrete-bar-chart>
          <div>Languages shown account for {{ languageInfoTotalLiterals/results.distinctLiterals*100 | number:2 }}% of total literals (also counting non-language literals)</div>
          </div>
      <div class="clearfix"></div>
  <h4><a id="literal-objects" class="displaced-anchor"></a>Most Referenced Literal Objects</h4>

  <nvd3-discrete-bar-chart data="literalObjectInfo" id="literalObjectInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:100,top:20,bottom:120,right:0}" clipedge="true" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true">
      <svg style="height:250px"></svg>
  </nvd3-discrete-bar-chart>

  <div>Literals shown account for {{ literalObjectInfoTotalTriples/results.triples*100 | number:2 }}% of total triples</div>

  </div>

  <div class="page-header">
  <h2><a id="subject" class="displaced-anchor"></a>Subject Information</h2>
  </div>

  <div class="col-sm-6">
      <a id="subject-classes" class="displaced-anchor"></a>
      <h4>Subject Classes</h4>
      <nvd3-discrete-bar-chart data="subjectTypeInfo" id="subjectTypeInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:80,top:20,bottom:120,right:0}" clipedge="true" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true" ng-show="subjectTypeInfo[0].values.length">
          <svg style="height:220px"></svg>
      </nvd3-discrete-bar-chart>
      <div>Items shown account for {{ subjectTypeInfoTotalSubjects/results.distinctSubjects*100 | number:2 }}% of total subjects (not taking multiple classes into account)</div>
  </div>

  <div class="col-sm-6">
      <a id="subject-namespaces" class="displaced-anchor"></a>
      <h4>Subject IRI Reference Namespaces</h4>
      <nvd3-discrete-bar-chart data="subjectNamespaceInfo" id="subjectNamespaceInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:80,top:20,bottom:120,right:0}" clipedge="true" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true">
          <svg style="height:220px"></svg>
      </nvd3-discrete-bar-chart>
      <div>Namespaces shown account for {{ subjectNamespaceInfoTotalSubjects/results.distinctIRIReferenceSubjects*100 | number:2 }}% of total subject IRI References</div>
  </div>
  <div class="clearfix"></div>
  <h4><a id="subjects" class="displaced-anchor"></a>Most Referenced Subjects</h4>
  
  <nvd3-discrete-bar-chart data="subjectInfo" id="subjectInfo" showxaxis="true" xaxistickformat="xTickFormat" xaxisrotatelabels="45" showyaxis="true" showlegend="false" showcontrols="false" margin="{left:100,top:20,bottom:120,right:0}" clipedge="true" yaxistickformat="yTickFormat" interactive="true" tooltipcontent="tooltipContent" tooltips="true">
    <svg style="height:250px"></svg>
  </nvd3-discrete-bar-chart>
  
  <div>Subjects shown account for {{ subjectInfoTotalTriples/results.triples*100 | number:2 }}% of total triples</div>

  <div class="help-block" style="margin-top:20px">
  <span style="margin-left:10px">Help</span>
  <ul>
    <li>Clicking on an item in the graphs above limits data to match that restriction.</li>
    <li>Double-clicking on an item runs a SPARQL query appropriate to the statistic on the endpoint associated with the description.</li>
    <li>Any statistics missing from the description will also be calculated on the live endpoint.</li></ul></div>
</div>