a(href='https://github.com/jiemakel/aether')
  img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
.jumbotron
  h1 Aether VoID Statistics Tool
  p: i "Content for your VoID"
  p.
    Given a SPARQL endpoint, the aether tool can <a ui-sref='generate-menu'>generate</a>
    an <a href='http://ldf.fi/void-ext'>extended VoID description</a>
    containing a wide variety of statistical spreads describing the dataset.
  p.
    These can then be <a ui-sref='view'>viewed</a> in order to get a general overview of the dataset.
  p.
    The viewer can also compare dataset descriptions to each other, so that for
    example changes between two versions of a dataset can be glanced.
  p.
    Alternatively, the <a ui-sref='view'>viewer</a> can also be used in live mode, where it
    directly queries a SPARQL endpoint for the statistics it shows.
h3 Example descriptions with highlighted points of interest:
ul
  li
    | <a href='http://dbpedia.org/'>DBPedia</a> public SPARQL endpoint compared between versions 3.9 & 3.8:
    | <a ui-sref='view({sparqlEndpoint:"http://ldf.fi/void/sparql",graphIRI:"http://dbpedia.org/void/",datasetIRI:"http://dbpedia.org/void/Dataset@3.9",compare_sparqlEndpoint:"http://ldf.fi/void/sparql",compare_graphIRI:"http://dbpedia.org/void/",compare_datasetIRI:"http://dbpedia.org/void/Dataset@3.8"})'>visualized</a>
    | /
    | <a href='http://ldf.fi/void/get?graph=http://dbpedia.org/void/'>as data</a>
    ul
      li.
        Judging by the <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.9&graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.8&compare_graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F#properties'>properties</a>
        common to all DBPedia concepts, some ~700 000 new pages have been added to the English Wikipedia between the two extractions.
      li.
        There are
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.9&graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.8&compare_graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F#subject-classes'>more</a>
        foaf:Persons than there are dbo:Persons or schema:Persons. Why aren't these counts the same?
      li.
        There are
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.9&graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.8&compare_graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F#property-namespaces'>3,423</a>
        new raw properties in DBPedia 3.9 as compared to 3.8, while the number of ontologically mapped properties has risen only by 59.
      li.
        Looking from the
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.8&graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.9&compare_graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F#literal-object-languages'>3.8 side</a>
        it can be seen that public endpoint for DBPedia 3.9 contains fewer language-tagged literals in fewere languages than the one for 3.8. Indeed, for the 3.9 release, abstracts and labels were loaded for only
        <a href='http://wiki.dbpedia.org/DatasetsLoaded39'>12 languages</a> as opposed to the
        <a href='http://wiki.dbpedia.org/DatasetsLoaded38'>20</a>
        for release 3.8. For example, Finnish and Norwegian have been dropped completely!
  li
    | <a href='http://data.europeana.eu/'>Europeana</a>:
    | <a ui-sref='view({sparqlEndpoint:"http://ldf.fi/void/sparql",graphIRI:"http://data.europeana.eu/void/",datasetIRI:"http://data.europeana.eu/void/Dataset"})'>visualized</a>
    | /
    | <a href='http://ldf.fi/void/get?graph=http://data.europeana.eu/void/'>as data</a>
    ul
      li.
        While the
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdata.europeana.eu%2Fvoid%2FDataset&graphIRI=http:%2F%2Fdata.europeana.eu%2Fvoid%2F#general'>RDF node counts</a>
        show a huge number of IRI resources, looking at the
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdata.europeana.eu%2Fvoid%2FDataset&graphIRI=http:%2F%2Fdata.europeana.eu%2Fvoid%2F#properties'>property graph</a>
        , it can be seen that all primary metadata in Europeana is encoded as literals! The number of IRI references comes from applying the
        <a href='http://pro.europeana.eu/documents/900548/770bdb58-c60e-4beb-a687-874639312ba5'>Europeana Data Model</a>
        , which requires aggregate and proxy IRIs to be minted for each work (in order to be able to tell who says what of each object). There seem to be about 20 million objects in Europeana, even if there are 120 million IRIs.
      li Type information is not encoded as RDF types, but as dc:types, with literal objects.
      li.
        Most literals do not seem to have appropriate
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdata.europeana.eu%2Fvoid%2FDataset&graphIRI=http:%2F%2Fdata.europeana.eu%2Fvoid%2F#literal-object-languages'>language codes</a>.
      li.
        Europeana
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdata.europeana.eu%2Fvoid%2FDataset&graphIRI=http:%2F%2Fdata.europeana.eu%2Fvoid%2F#iri-lengths'>IRIs</a>
        tend to be quite long.
  li
    | <a href='http://viaf.org/'>Virtual International Authority File</a> (VIAF) compared between 2014-02-15 & 2013-11-24:
    | <a ui-sref='view({sparqlEndpoint:"http://ldf.fi/void/sparql",graphIRI:"http://viaf.org/void/",datasetIRI:"http://viaf.org/void/Dataset@2014-02-15.rdf",compare_sparqlEndpoint:"http://ldf.fi/void/sparql",compare_graphIRI:"http://viaf.org/void/",compare_datasetIRI:"http://viaf.org/void/Dataset@2013-11-24.rdf"})'>visualized</a>
    | /
    | <a href='http://ldf.fi/void/get?graph=http://viaf.org/void/'>as data</a>
    ul
      li.
        VIAF has grown by
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2014-02-15.rdf&graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2013-11-24.rdf&compare_graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F#resource-object-classes'>178,673 persons</a>
        in 3 months.
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2014-02-15.rdf&graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2013-11-24.rdf&compare_graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&objectLimitStat=Object%20Literal&objectLimitValue=%221950%22#properties'>2,181</a>
        of these were born in 1950.
      li.
        The number of corporate entities has grown even more, by
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2014-02-15.rdf&graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2013-11-24.rdf&compare_graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F#resource-object-classes'>397,714</a>.
      li.
        In the same time,
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2014-02-15.rdf&graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2013-11-24.rdf&compare_graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F#resource-object-namespaces'>15,884</a>
        new links to DBPedia have been created.
      li.
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2014-02-15.rdf&graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2013-11-24.rdf&compare_graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F#literal-objects'>576,387</a>
        more entity identifiers have been deprecated (merged with others).
      li.
        The 13th century Persian poet and mystic Rumi is now known by
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2014-02-15.rdf&graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2013-11-24.rdf&compare_graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&subjectLimitStat=Subject&subjectLimitValue=%3Chttp:%2F%2Fviaf.org%2Fviaf%2F98930150%3E#properties'>419</a>
        different names, 6 more than in November.
      li.
        VIAF does not believe in
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2014-02-15.rdf&graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2013-11-24.rdf&compare_graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F#literal'>language tags</a>
        either.
  li
    | <a href='http://viaf.org/'>Virtual International Authority File</a> (VIAF) @ 2014-02-15 compared between RDF/XML & N-TRIPLES versions:
    | <a ui-sref='view({sparqlEndpoint:"http://ldf.fi/void/sparql",graphIRI:"http://viaf.org/void/",datasetIRI:"http://viaf.org/void/Dataset@2014-02-15.rdf",compare_sparqlEndpoint:"http://ldf.fi/void/sparql",compare_graphIRI:"http://viaf.org/void/",compare_datasetIRI:"http://viaf.org/void/Dataset@2014-02-15.nt"})'>visualized
    | /
    | <a href='http://ldf.fi/void/get?graph=http://viaf.org/void/'>as data</a>
    ul
      li.
        Why are these not exactly the same?! There seem to for example be about
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2014-02-15.rdf&graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F&compare_sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&compare_datasetIRI=http:%2F%2Fviaf.org%2Fvoid%2FDataset@2014-02-15.nt&compare_graphIRI=http:%2F%2Fviaf.org%2Fvoid%2F#resource-object-classes'>20 000 people more but 4 000 places less</a>
        in the RDF/XML version.
  li
    | <a href='http://www.ldf.fi/dataset/dbpedia-fi/'>Finnish edition of DBPedia 3.9</a>:
    | <a ui-sref='view({sparqlEndpoint:"http://ldf.fi/void/sparql",graphIRI:"http://ldf.fi/dbpedia-fi/void/",datasetIRI:"http://ldf.fi/dbpedia-fi/void@2014-02-16T06:12:58.025Z"})'>visualized</a>
    | /
    | <a href='http://ldf.fi/void/get?graph=http://ldf.fi/dbpedia-fi/void/'>as data</a>
    ul
      li.
        There are no <a href='http://mappings.dbpedia.org/'>mapping definitions</a>
        for the Finnish edition of DBPedia. This means for example that type information is not extracted into RDF types, but remains in
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fldf.fi%2Fdbpedia-fi%2Fvoid%2FDataset@2014-03-04T19:43:56.342Z&graphIRI=http:%2F%2Fldf.fi%2Fdbpedia-fi%2Fvoid%2F&compare_datasetIRI=http:%2F%2Fldf.fi%2Fdbpedia-fi%2Fvoid%2FDataset@2014-03-04T19:43:56.342Z#properties'>"wikiPageUsesTemplate"</a>
        links to the template URIs.
      li.
        Neither are properties mapped to the ontology, but remain in the
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fldf.fi%2Fdbpedia-fi%2Fvoid%2FDataset@2014-03-04T19:43:56.342Z&graphIRI=http:%2F%2Fldf.fi%2Fdbpedia-fi%2Fvoid%2F&compare_datasetIRI=http:%2F%2Fldf.fi%2Fdbpedia-fi%2Fvoid%2FDataset@2014-03-04T19:43:56.342Z#property-namespaces'>"property"</a>
        namespace.
  li
    | <a href='http://downloads.dbpedia.org/3.9/'>Full international DBPedia 3.9</a> (compared to the data in the public endpoint):
    | <a ui-sref='view({sparqlEndpoint:"http://ldf.fi/void/sparql",graphIRI:"http://dbpedia.org/int-void/",datasetIRI:"http://dbpedia.org/void/FullDataset@3.9",compare_sparqlEndpoint:"http://ldf.fi/void/sparql",compare_graphIRI:"http://dbpedia.org/void/",compare_datasetIRI:"http://dbpedia.org/void/Dataset@3.9"})'>visualized</a>
    | /
    | <a href='http://ldf.fi/void/get?graph=http://dbpedia.org/int-void/'>as data</a>
    ul
      li.
        30% of the 2.2 billion
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FFullDataset@3.9&graphIRI=http:%2F%2Fdbpedia.org%2Fint-void%2F&compare_graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F&compare_datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.9#subject-classes'>triples</a>
        in the international DBPedia dataset are wikilinks between the pages. A further 375 million are owl:sameAs links between the language-specific DBPedia IRIs (even though there are just some 45 million of those IRIs)
      li.
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FFullDataset@3.9&graphIRI=http:%2F%2Fdbpedia.org%2Fint-void%2F&compare_graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F&compare_datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.9#subject-classes'>109 million</a>
        of the 127 million resources appearing as subjects have no RDF type
      li.
        There are a whopping
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FFullDataset@3.9&graphIRI=http:%2F%2Fdbpedia.org%2Fint-void%2F&compare_graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F&compare_datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.9#triple-parts'>574,138</a>
        properties in the dataset. Filtering by property namespace gives ideas on what properties would be most useful to map in different languages, for example
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FFullDataset@3.9&graphIRI=http:%2F%2Fdbpedia.org%2Fint-void%2F&compare_graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F&compare_datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.9&propertyLimitStat=Property%20Namespace&propertyLimitValue=%3Chttp:%2F%2Fes.dbpedia.org%2Fproperty%2F%3E#properties'>Spanish</a> or
        <a href='#/view?sparqlEndpoint=http:%2F%2Fldf.fi%2Fvoid%2Fsparql&datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FFullDataset@3.9&graphIRI=http:%2F%2Fdbpedia.org%2Fint-void%2F&compare_graphIRI=http:%2F%2Fdbpedia.org%2Fvoid%2F&compare_datasetIRI=http:%2F%2Fdbpedia.org%2Fvoid%2FDataset@3.9&propertyLimitStat=Property%20Namespace&propertyLimitValue=%3Chttp:%2F%2Fru.dbpedia.org%2Fproperty%2F%3E#properties'>Russian</a>.
.text-right.
  Contact: Eetu Mäkelä at <a href='mailto:eetu.makela@aalto.fi'>eetu.makela@aalto.fi</a>
